* {
    border: 0!important;
	box-shadow: none !important;
}

.home_sidebar__4L4yT {
    margin-right: 20px;
	width: 240px !important;
    opacity: .96;
}
.home_sidebar__4L4yT:after {
    content: "";
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: 6px;
    right: 6px;
    z-index: -2;
}
.home_sidebar__4L4yT, .home_sidebar__4L4yT:after {
	background: #00a899 url(/_next/static/media/bg55.6c5262d2.png) repeat 50% !important;
}
.home_sidebar-header__b5asC {
    padding-top: 0;
    color: #000;
    font-family: Futura-Medium-6,WenYue-ShengHuoJiaTi-J,Noto Sans SC,SF Pro SC,SF Pro Text,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.home_sidebar-actions__zyNfR div:nth-child(3) {
    display: none;
}
.home_sidebar-tail__R8VX2 {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
.home_sidebar__4L4yT:before {
    content: "Welcome to HelloGPT";
    position: absolute;
    bottom: 20px;
    color: #000;
    text-align: center;
    width: calc(100% - 40px);
}
